@font-face {
  font-family: "Novarese Ultra";
  src: url("/img/Novarese-Ultra_Regular.woff");
}

body { margin: 0; background-color: grey; }

#header-banner {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* Background image is set dynamically in the template file */
    background-position: center;
    background-size: cover;
}
#header-logo { height: 19vh; }

#page-container {
    /* A big container for everything not in the header. */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hanging-tab {
    /* Style for the sidebar and nav buttons */
    min-width: 100px;
    background-color: white;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    padding: 5px;
}

#sidebar {
    width: 10vw;
    margin-right: 2vw;
}

#toolbar-and-content {
    width: 50vw;
    display: relative;
}

#toolbar {
    display: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#toolbar .hanging-tab {
    display: flex;
    justify-content: center;
}

#toolbar .hanging-tab:hover {
    background-color: azure;
}
