/* COLORS */
:root {
    /* --secondary-extra-dark: #771c29;
    --secondary-dark: #bc1141;
    --secondary-light: #e695a2;
    --secondary-extra-light: #f59db4;
    --primary-extra-dark: #0a3363;
    --primary-dark: #1b619f;
    --primary-light: #7bb3f2;
    --primary-extra-light: #9bc7ee; */
    
    --page-background: #101c31;
    --default-text: #c5d3d7;
    
    --tab-color: #293141;
    --tab-border: #3d6d94;
    --button-tab-color: #303852;
    --button-tab-color-rgb: 48, 56, 82;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    margin: 0;
    
    font-family: Besley;
    background-color: var(--page-background);
    color: var(--default-text);
    
    --banner-collapsed-height: 5vh;
    --banner-expansion: 20vh;
    --banner-expansion-num: 20;
    
    --sidebar-width: max(18vw, 200px);
    --content-width: max(50vw, 600px);
    
    /* Logo size is constrained in two dimensions. We'll need to know its height
    to correctly place it as a """sticky""" element, so it's easiest to just
    calculate the size here and re-use later. */
    --logo-height: min(
        calc( var(--banner-expansion) - 1vh ),
        calc( var(--sidebar-width) / 1.445 )
    );
}
@media screen and (max-width: 850px) {
    /* Reduced margins layout for large phones, tablets */
    body {
        column-gap: 0;
        
        --banner-collapsed-height: 0px;
        
        --sidebar-width: 30%;
        --content-width: 70%;
        
        /* Same as above, just need to re-calculate it. */
        --logo-height: calc( var(--banner-expansion) - 1vh );
    }
}
@media screen and (max-width: 650px) {
    body {
        --banner-collapsed-height: 8vh;
    }
}

a { color: var(--default-text); }

/* ----------------------- *\
   BANNER, LOGO, HAMBURGER
\* ----------------------- */
#header-banner {
    position: sticky;
    z-index: 1;
    top: calc(-1 * var(--banner-expansion));
    width: 100%;
    height: calc(
        var(--banner-collapsed-height) +
        var(--banner-expansion)
    );
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Background image is set dynamically in the template file */
    background-position: center;
    background-size: cover;
    
    /* Fallback gradient */
    --twinkle: transparent;
    animation-name: twinkle;
    animation-iteration-count: infinite;
    background-image:
        radial-gradient(2px   at 88% 27%, rgba(247, 189, 175, 90), transparent),
        radial-gradient(1px   at 98% 17%, rgba(247, 220, 176, 90), transparent),
        radial-gradient(2px   at 97% 38%, rgba(177, 184, 241, 90), transparent),
        radial-gradient(1px   at 71% 18%, rgba(245, 217, 187, 90), transparent),
        radial-gradient(1.5px at 96% 32%, rgba(246, 227, 187, 90), transparent),
        radial-gradient(2px   at 96% 95%, rgba(251, 219, 175, 90), transparent),
        linear-gradient(192deg, rgb(0 0 21), rgb(0 0 112))
}

#logo {
    position: fixed;
    z-index: 2;
    
    display: flex;
    justify-content: center;
    
    --weightEnd: calc(
        min(
            var(--scroll-position-num, 0),
            var(--banner-expansion-num)
        ) /
        var(--banner-expansion-num)
    );
    --weightStart: calc(
        1 - var(--weightEnd)
    );
}

#logo svg { filter: drop-shadow(0 0 15px var(--tab-color)) }


@media screen and (min-width: 651px) {
    /* Full-size and medium screens push the logo into the sidebar */
    #hamburger { display: none; }
    
    #logo {
        --start: calc(
            var(--banner-collapsed-height)/2 +
            var(--banner-expansion)/2 -
            var(--logo-height)/2
        );
        --end: calc(
            var(--banner-collapsed-height) +
            10px
        );
        width: var(--sidebar-width);
        margin-right: calc(var(--content-width) + 20px);
        top: calc(
            var(--start) * var(--weightStart) +
            var(--end) * var(--weightEnd)
        );
    }
    #logo svg {
        height: var(--logo-height);
    }
}
@media screen and (min-width: 651px) and (max-width: 850px) {
    /*
    Medium screens have no gutter between content and sidebar, so the logo needs
    to be repositioned horizontally
    */
    #logo {
        margin-right: calc(var(--content-width));
    }
    #logo svg {
        position: sticky;
        top: 0;
        height: var(--logo-height);
    }
}
@media screen and (max-width: 650px) {
    /*
    Small screens keep the logo in the banner and add a hamburger menu button
    */
    #hamburger {
        position: fixed;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        
        left: 1vh;
        top: 1vh;
        
        border-radius: 5px;
        backdrop-filter: blur(5px);
    }
    #hamburger svg {
        width: calc(var(--banner-collapsed-height) - 1vh);
        height: calc(var(--banner-collapsed-height) - 1vh);
        margin: -0.5vh;
        
        color: #f7e4c5;
        filter: drop-shadow( 1px 1px red) drop-shadow( -1px -1px cyan);
    }
    
    #logo { top: 0.5vh; }
    #logo svg {
        height: calc(
            calc(
                var(--banner-expansion) + var(--banner-collapsed-height) - 1vh
            ) * var(--weightStart) +
            calc(
                var(--banner-collapsed-height) - 1vh
            ) * var(--weightEnd)
        );
        max-width: 69vw;
    }
}

/* ------- *\
   SIDEBAR
\* ------- */

#sidebar {
    /* Style for the sidebar and nav buttons */
    border: 2px solid var(--tab-border);
    background-color: var(--tab-color);
    box-sizing: border-box;
}

#sidebar {
    /* Fake fixed position without ruining flex */
    display: flex;
    flex-direction: column;
    z-index: 0;
    
    padding: 0;
    border-radius: 0 0 8px 8px;
}

#sidebar-buttons,
#sidebar-text {
    border-top: 2px dotted var(--tab-border);
}

#sidebar-buttons {
    display: flex;
    flex-direction: column;
    
    margin-top: 20px;
    padding: 10px 0;
}

#sidebar-buttons a {
    font-size: 25px;
    font-family: Prompt;
    text-decoration: none;
    font-weight: 200;
    text-decoration-thickness: 1px;
    
    padding: 0 20px;
    text-indent: -10%;
    padding-left: calc(10% + 20px);
}
#sidebar-buttons a:hover {
    background-color: #3d4b6a;
    text-decoration: revert;
}

#sidebar-text {
    font-size: 18px;
    padding: 10px;
    margin: 0;
}
@media screen and (min-width: 651px) {
    /* Medium and large screens show sidebar at all times */
    #sidebar {
        border-top: none;
        position: sticky;
        top: calc(
            var(--banner-collapsed-height) +
            var(--logo-height)
        );
        width: var(--sidebar-width);
        height: fit-content;
        
        /* Attempt to prevent sidebar from intersecting with footer */
        margin-bottom: 155px;
    }
    #sidebar::before {
        /* backdrop for logo when it slides out of header */
        background-color: var(--tab-color);
        border: 2px solid var(--tab-border);
        border-top: none;
        content: "";
        position: absolute;
        width: 100%;
        height: var(--banner-expansion);
        bottom: 100%;
        left: -2px;
        border-bottom: none;
    }
}
@media screen and (min-width: 651px) and (max-width: 850px) {
    /* Medium screens have reduced margins */
    #sidebar { border-right: none; }
}
@media screen and (max-width: 650px) {
    /* Mobile shows/hides sidebar as a menu sidebar */
    #sidebar {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        height: 100%;
        width: min(90vw, 300px);
        border-left: none;
        border-radius: 0 8px 8px 0;
        
        transition: left 200ms ease-out;
    }
    #sidebar.collapsed {
        left: -100%;
    }
    
    #sidebar-buttons {
        margin-top: var(--banner-collapsed-height);
    }
}


/* ----------- *\
   CONTENT BOX
\* ----------- */
#content {
    border: 2px solid var(--tab-border);
    border-top: none;
    border-bottom: none;
    
    background-color: var(--tab-color);
    box-sizing: border-box;
}
@media screen and (min-width: 651px) {
    /* Medium and large screens */
    #content { width: var(--content-width); }
}
@media screen and (min-width: 651px) and (max-width: 850px) {
    /* Medium screens have reduced margins */
}
@media screen and (max-width: 650px) {
    /* Mobile shows/hides sidebar as a menu sidebar */
    #content { width: 95vw; }
}



/* ------ *\
   FOOTER
\* ------ */
#footer {
    border-top: 3px solid var(--tab-border);
    width: 100%;
    
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

