/* COLORS */
body {
    --secondary-extra-dark: #771c29;
    --secondary-dark: #bc1141;
    --secondary-light: #e695a2;
    --secondary-extra-light:#f59db4;
    --primary-extra-dark: #0a3363;
    --primary-dark: #1b619f;
    --primary-light: #7bb3f2;
    --primary-extra-light: #9bc7ee;
    
    --page-background: #1d273a;
    --default-text: #99a2aa;
}

/* COMMON ROLES */
a {
    text-decoration: none;
    color: var(--default-text);
}
a:hover { text-decoration: revert; }

/* LAYOUT COMPONENTS */
body {
    margin: 0;
    
    font-family: Besley;
    background-color: var(--page-background);
    color: var(--default-text);
    
    --banner-collapsed-height: 5vh;
    --banner-expansion: 20vh;
    
    --sidebar-width: 15vw;
    --content-width: 50vw;
}

#header-banner {
    position: sticky;
    top: calc(-1 * var(--banner-expansion));
    
    /* Size */
    width: 100%;
    height: calc(
        var(--banner-collapsed-height) +
        var(--banner-expansion)
    );
    
    /* Allow logo to be placed relative to center */
    display: flex;
    justify-content: center;
    
    /* Background image is set dynamically in the template file */
    background-position: center;
    background-size: cover;
    
    /* Ensure content scrolls underneath the banner */
    z-index: 2;
}

#logo-link {
    /* Envelop logo image, set above sidebar */
    display: flex;
    margin-right: var(--content-width);
    
    /* Start vertically centered in header */
    position: fixed;
    margin-top: calc(
        var(--banner-collapsed-height) / 2
    );
    
    /* Slide down to top of sidebar as page scrolls */
    top: min(
        calc(var(--scroll-position, 0) * 5/20),
        var(--banner-collapsed-height)
    );
}
#header-logo {
    height: calc( var(--banner-expansion) - 1vh );
}

#page-container {
    /* A big container for everything not in the header. */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hanging-tab {
    /* Style for the sidebar and nav buttons */
    background-color: #2f3c57;
    padding: 3px 9px;
    border-radius: 0 0 8px 8px;
    margin: 0 4px;
}

#sidebar {
    width: var(--sidebar-width);
    
    /* Fake fixed position without ruining flex */
    position: sticky;
    top: calc( var(--banner-expansion) + var(--banner-collapsed-height));
}

#sidebar::before {
    /* Above-sidebar extension for shrinking banner */
    content: "";
    position: absolute;
    width: 100%;
    height: var(--banner-expansion);
    bottom: 100%;
    left: 0;
    /* Borrow .hanging-tab style */
    background-color: #2f3c57;
}

#toolbar-and-content { width: var(--content-width); }

#toolbar {
    /* Allow content to scroll under */
    position: sticky;
    top: var(--banner-collapsed-height);
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    z-index: 1;
}
#toolbar::after {
    /* Gradient background behind tabs */
    position: absolute;
    content: "";
    z-index: -1;
    width: calc(100% - 3px); /* don't hide scrollbar */
    height: 80px;
    background: linear-gradient(0, transparent, var(--page-background));
    pointer-events: none;
}

#toolbar .hanging-tab {
    font-family: Prompt;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
#toolbar .hanging-tab { border-left: 1px solid #3d4b6a; }
#toolbar .hanging-tab:hover { background-color: #3d4b6a; }

#content {
    
}



