body {
    --banner-expansion: 40vh;
    --content-width: max(70vw, 600px);
}


/* --------------- *\
   Title in header
\* --------------- */
#header-banner.dark-text .header-title {
    color: #959595;
    text-shadow: 0 0 20px #959595;
}

.header-title {
    width: var(--content-width);
    margin-left: var(--sidebar-width);
    
    font-family: Prompt;
    font-size: var(--banner-collapsed-height);
    text-align: center;
    color: #d2d2d2;
    text-shadow: 0 0 20px #404040;
}


/* --------------- *\
   Attached images
\* --------------- */
/* Masonry grid */
#attachments {
    margin: 0 3%;
}

/* Image/caption container */
.attachment {
    z-index: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
    max-width: var(--full-width);
    
    transition:
        width 200ms ease,
        aspect-ratio 200ms ease,
        left 200ms ease,
        top 200ms ease;
}

/* Image */
.attachment .image {
    width: calc(100% - 5px);
    flex-grow: 1;
    padding: 5px;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    box-shadow: 1px 2px 5px 0px rgba(0 0 0 / 50%);
}

/* Caption */
.attachment .caption {
    position: relative;
    top: -20px;
    align-self: center;
    box-sizing: border-box;
    
    padding: 3px 7px;
    max-width: 95%;
    width: fit-content;
    
    font-size: 14px;
    border: 2px solid var(--tab-border);
    border-radius: 4px;
    box-shadow: 1px 0 6px 1px rgb(0 0 0 / 43%);
    background-color: #293141;
    /* background-color: rgba(var(--button-tab-color-rgb), 0.95); */
    color: var(--default-text);
}

/* Size variants for masonry layout */
.attachment.aspect-tall {
    width: calc(20%);
    aspect-ratio: 1/2;
}
.attachment.aspect-normal {
    width: calc(40%);
}
.attachment.aspect-wide {
    width: calc(60%);
    aspect-ratio: 2/1;
}
.attachment.expanded {
    z-index: 1;
    
    /* TODO: eliminate animation bounce by directly setting height and width
    instead of width and aspect ratio */
    width: 100%;
    aspect-ratio: calc(var(--aspect-ratio));
}



