@media screen and (min-width: 851px) {
    body {
        --banner-expansion: 40vh;
        --content-width: max(70vw, 600px);
    }
}


/* ------------- *\
   Episode title
\* ------------- */
#header-title {
    width: var(--content-width);
    margin-left: var(--sidebar-width);
    
    font-family: Prompt;
    font-size: max(
        var(--banner-collapsed-height),
        5vh
    );
    text-align: center;
    color: #d2d2d2;
    text-shadow: 0 0 20px #404040;
}

#body-title {
    display: none;
    
    margin: 20px 0 40px;
    
    font-family: Prompt;
    text-decoration: underline 1px;
    font-size: 30px;
    text-align: center;
}
@media screen and (max-width: 650px) {
    /* On small screens, the header appears above the show notes. */
    #body-title { display: block; }
    #header-title { display: none; }
}

/* --------------- *\
   Attached images
\* --------------- */
/* Image container */
#attachments { margin: 0 3%; }

@media screen and (max-width: 650px) {
    /* On mobile displays, masonry layout is overridden and we switch to a flex
    column layout. */
    #attachments {
        display: flex;
        flex-direction: column;
    }
}

/* Image/caption container */
.attachment {
    z-index: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    transition:
        width 200ms ease,
        aspect-ratio 200ms ease,
        left 200ms ease,
        top 200ms ease;
}

@media screen and (max-width: 650px) {
    .attachment {
        position: relative !important;
        left: auto !important;
        top: auto !important;
        width: 100% !important;
    }
    .attachment .image {
        aspect-ratio: var(--aspect-ratio);
    }
}

/* Image */
.attachment .image {
    width: 100%;
    max-width: var(--full-width);
    aspect-ratio: var(--aspect-ratio);
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    box-shadow: 1px 2px 5px 0px rgba(0 0 0 / 50%);
}

/* Caption */
.attachment .caption {
    position: relative;
    top: -20px;
    align-self: center;
    box-sizing: border-box;
    
    padding: 3px 7px;
    max-width: 95%;
    width: fit-content;
    
    font-size: 14px;
    border: 2px solid var(--tab-border);
    border-radius: 4px;
    box-shadow: 1px 0 6px 1px rgb(0 0 0 / 43%);
    background-color: #293141;
    /* background-color: rgba(var(--button-tab-color-rgb), 0.95); */
    color: var(--default-text);
}


/*
Masonry grid

There are two item widths, .aspect-normal and .aspect-wide. Up to three -normals
can share a row, and a -normal and -wide can share a row.

Column width is (100% - gutter% * 2) / 3 .
.aspect-normal fills the column width.
.aspect-wide fills two columns and a gutter.

|-------|.|-------|.|-------|
|-------|.|-------|.|-------|
|-------|.|-------|.|-------|

|-----------------|.|-------|
|-----------------|.|-------|
|-----------------|.|-------|

The gutter size should match the left/right margin of #attachments.
*/
.gutter-sizer { width: 3%; }
.column-sizer { width: 31.3%; }
@media screen and (min-width: 651px) {
    /* Size variants for masonry layout */
    .aspect-tall { width: 31.3%; }
    .aspect-tall .image { aspect-ratio: 1/2; }
    
    .aspect-normal { width: 31.3%; }
    .aspect-normal .image { aspect-ratio: 1/1; }
    
    .aspect-wide { width: 65.6%; }
    .aspect-wide .image { aspect-ratio: 2/1; }
    
    .attachment.expanded {
        z-index: 1;
        width: 100%;
    }
    .attachment.expanded .image {
        /* TODO: eliminate animation bounce by directly setting height and width
        instead of width and aspect ratio */
        aspect-ratio: var(--aspect-ratio);
    }
}



