.episode-card {
    margin: 20px 20px 50px 20px;
}

.episode-title {
    font-family: Prompt;
    font-weight: 500;
    font-size: 35px;
}

.episode-card .image-to-the-side {
    display: grid;
    grid-template: "image date"
                   "image description"
                   / 20%  80%;
    column-gap: 10px;
}

.episode-card .thumbnail {
    grid-area: image;
    
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    
    border-radius: 10px;
    /* border: 2px solid var(--default-text); */
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.episode-card p { margin: 0; }

.episode-card .published-at {
    grid-area: date;
    font-style: italic;
    font-size: 13px;
}

.episode-card .description {
    grid-area: description;
}

nav.page-buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
    border-top: 2px dotted var(--tab-border);
    
}

nav a {
    font-family: prompt;
    font-weight: 200;
    text-decoration-thickness: 1px;
    font-size: 25px;
    text-align: center;
    
    min-width: 15px;
    padding: 0 10px;
    border-left: 1px solid var(--tab-border);
}

nav a:last-of-type {
    border-right: 1px solid var(--tab-border);
}

nav a[aria-current='page'] {
    background-color: var(--default-text);
    color: var(--tab-color);
}

