/* ------------ *\
   EACH EPISODE
\* ------------ */
.episode-card {
    display: block;
    padding: 20px 20px 50px 20px;
    color: revert;
}
.episode-card:hover {
    background-color: var(--button-tab-color);
    transition: box-shadow 200ms;
    box-shadow: 1px 2px 5px rgba(0 0 0 / 0.45)
}

.episode-title {
    font-family: Prompt;
    text-decoration: underline 2px;
    font-weight: 500;
    font-size: 35px;
}

.episode-card .image-to-the-side {
    display: grid;
    grid-template: "image date"
                   "image description"
                   / 20%  80%;
    column-gap: 10px;
}

.episode-card .thumbnail {
    grid-area: image;
    
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    
    border-radius: 10px;
    /* border: 2px solid var(--default-text); */
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.episode-card p { margin: 0; }

.episode-card .published-at {
    grid-area: date;
    font-style: italic;
    font-size: 13px;
}

.episode-card .description {
    grid-area: description;
}


/* ---------- *\
   PAGINATION
\* ---------- */
/* Container and label */
#pagination-label {
    font-family: Prompt;
    font-weight: 200;
    font-size: 2vh;
    border: 1px solid var(--tab-border);
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    background-color: var(--button-tab-color);
    
    width: fit-content;
    padding: 2px 10px;
}

#pagination-bar {
    border-top: 2px dotted var(--tab-border);
    display:flex;
}

/* Slide control buttons */
#pagination-bar button {
    background-color: var(--button-tab-color);
    color: var(--tab-border);
    border: 2px solid var(--tab-border);
    border-top: none;
    border-bottom: none;
    
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
#pagination-bar .slide-left { border-left: none; }
#pagination-bar .slide-right { border-right: none; }

#pagination-bar button:not(.disabled):hover {
    background-color: var(--tab-border);
    color: var(--button-tab-color);
}

#pagination-bar button.disabled {
    pointer-events: none;
    filter: saturate(0.8) contrast(0.8);
}

/* Sliding page number container */
#pagination-slider {
    display: flex;
    overflow: hidden;
    overscroll-behavior-x: contain;
}

/* Page numbers */
#pagination-bar a {
    font-family: prompt;
    font-weight: 200;
    text-decoration-thickness: 1px;
    font-size: 25px;
    text-align: center;
    
    min-width: 15px;
    flex-shrink: 0;
    padding: 0 10px;
    box-shadow: inset 7px 0px 7px -7px #000000cf;
}

#pagination-bar a[aria-current='page'] {
    background-color: var(--default-text);
    color: var(--tab-color);
    pointer-events: none;
}

