---
    title: The Orbital Mechanics Podcast
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
            <link rel="stylesheet" href="/stylesheets/app.css"/>
            <style>
                #header-banner {
                    background-image: url({{ headers.randomHeaders[0] }});
                }
            </style>
        {% endblock %}
        <title>{{ textDefaults.siteTitle }}</title>
    </head>
    <body>
        <div id="header-banner">
            <img id="header-logo" src="/img/banner-logo.svg">
        </div>
        <div id="page-container">
            <div id="sidebar" class="hanging-tab">
                <p>
                    The Orbital Mechanics is a show about space and stuff.
                </p>
            </div>
            <div id="toolbar-and-content">
                <div id="toolbar">
                    <div class="hanging-tab">
                        <a href="/store">Store</a>
                    </div>
                    <div class="hanging-tab">
                        <a href="/support">Support</a>
                    </div>
                    <div class="hanging-tab">
                        <a href="/subscribe">Subscribe</a>
                    </div>
                    <div class="hanging-tab">
                        <a href="/about">About and Contact</a>
                    </div>
                    <div class="hanging-tab">
                        <a href="/episodes">Episodes</a>
                    </div>
                </div>
                <div id="content">
                    {{ content | safe }}
                </div>
            </div>
        </div>
    </body>
</html></body></html>