<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/index.css"/>
        <link rel="stylesheet" href="/stylesheets/font.css"/>
        <link rel="stylesheet" href="/stylesheets/app.css"/> {% block css %}{% endblock %}
        <script src="/app.js"></script>
        <style>
            #header-banner {
                background-image: url({{ headers.randomHeaders[0] }});
            }
        </style>
        <title>{{ textDefaults.siteTitle }}</title>
    </head>
    <body>
        <div id="header-banner">
            <a href="/" id="logo-link">
                <img id="header-logo" src="/img/banner-logo.svg">
            </a>
        </div>
        <div id="page-container">
            <div>
                {# Sidebar container, allow flex cross-axis shrink #}
                <div id="sidebar" class="hanging-tab sticky-below-header">
                    <p>
                        The Orbital Mechanics is a show about space and stuff.
                    </p>
                </div>
            </div>
            <div id="toolbar-and-content">
                <div id="toolbar" class="sticky-below-header">
                    <a class="hanging-tab" href="/store">Store</a>
                    <a class="hanging-tab" href="/support">Support</a>
                    <a class="hanging-tab" href="/subscribe">Subscribe</a>
                    <a class="hanging-tab" href="/about">About and Contact</a>
                    <a class="hanging-tab" href="/episodes">Episodes</a>
                </div>
                <div id="content">
                    {% block content %}
                        {{ content | safe }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>