<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/index.css"/>
        <link rel="stylesheet" href="/stylesheets/font.css"/>
        <link rel="stylesheet" href="/stylesheets/app.css"/> {% block css %}{% endblock %}
        <script src="/app.js"></script>
        <style>
            #header-banner {
                background-image: url({% block headerUrl %} {{ headers.randomHeaders[0].url }} {% endblock%} );
            }
        </style>
        <title>{{ textDefaults.siteTitle }}</title>
    </head>
    <body>

        <div id="hamburger">
            {% include "../icon/list.svg" %}
        </div>
        
        <a href="/" id="logo">
            {% include "../img/banner-logo.svg" %}
        </a>
        
        <div id="header-banner" class="{{ headers.randomHeaders[0].textStyle }}">
            {% block headerText %}{% endblock %}
        </div>
        
        <div id="sidebar" class="collapsed">
            <nav id="sidebar-buttons" aria-label="Main Navigation">
                <a href="/subscribe">Subscribe</a>
                <a href="/store">Store</a>
                <a href="/support">Support</a>
                <a href="/about">About and Contact</a>
            </nav>
            <p id="sidebar-text">
                Weekly insights into spaceflight engineering news, interviews and discussions. Listen in for technical details,
                corrections from people in the know and "one step deeper" knowledge.
            </p>
        </div>
        
        <div id="content">
            {% block content %}
                {{ content | safe }}
            {% endblock %}
        </div>
        
        <div id="footer">
                {% include "license.html" %}
        </div>
        
    </body>
</html>