.episode-card {
    margin: 50px 0;
    padding-right: 20px;
}
.episode-card:first-child {
    /* nudge up to padded top of #content */
    /* Match H1 styling on episode page */
    margin-top: 0.67em;
}

.episode-title {
    font-family: Prompt;
    font-weight: 500;
    font-size: 35px;
}

.episode-card p { margin: 0; }

.episode-card .published-at {
    font-style: italic;
    font-size: 13px;
    margin-top: -6px;
}

.episode-card .description {
    margin-top: 4px
}