.episode-card {
    margin: 20px 20px 50px 20px;
}

.episode-title {
    font-family: Prompt;
    font-weight: 500;
    font-size: 35px;
}

.episode-card .image-to-the-side {
    display: grid;
    grid-template: "image date"
                   "image description"
                   / 20%  80%;
    column-gap: 10px;
}

.episode-card .thumbnail {
    grid-area: image;
    
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    
    border-radius: 10px;
    /* border: 2px solid var(--default-text); */
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.episode-card p { margin: 0; }

.episode-card .published-at {
    grid-area: date;
    font-style: italic;
    font-size: 13px;
}

.episode-card .description {
    grid-area: description;
}