---
pagination:
    data: episodes
    size: 1
    alias: episode
permalink: '/show-notes/{{ episode.slug }}/index.html'
---

{% extends "app.njk" %}

{% block css %}
    <link rel="stylesheet" href="/stylesheets/episode.css"/>
{% endblock %}

{% block headerUrl %}
    {{ episode.attachments[0].full.url }}
{% endblock %}

{% block headerText %}
    <div class="header-title">{{ episode | wrapTitle | safe }}</div>
{% endblock %}

{% block content %}
    {{ episode | formatNotes | safe }}
    <p>Images below:</p>
    {% for image in episode.attachments %}
        image
    {% endfor %}
    <p>Images above:</p>
{% endblock %}