---
pagination:
    data: episodes
    size: 1
    alias: episode
permalink: '/show-notes/{{ episode.slug }}/index.html'
---

{% extends "app.njk" %}

{% block css %}
    <link rel="stylesheet" href="/stylesheets/episode.css"/>
{% endblock %}

{% block headerUrl %}
    {{ episode.attachments[0].full.url }}
{% endblock %}

{% block headerText %}
    <div class="header-title">{{ episode | wrapTitle | safe }}</div>
{% endblock %}

{% block content %}
    {{ episode | formatNotes | safe }}
    <div id="attachments">
        {% for image in episode.attachments %}
            <div class="attachment">
                <img src="{{ image.medium.url or image.full.url }}" alt=""></img>
                <div class="caption">{{ image.caption }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}