---
layout: app
pagination:
    data: episodes
    size: 1
    alias: episode
permalink: '/show-notes/{{ episode.attributes.slug }}/index.html'
---

<h1> {{ episode.attributes | fullTitle }} </h1>

{{ episode.attributes | formatNotes | safe }}
