---
layout: app.njk
pagination:
    data: episodesChunked
    size: 1
---

{% block script %}
    <script src="/pagination.js"></script>
{% endblock %}

{% for episode in pagination.items[0] %}
    <div class="episode-card">
        <a class="episode-title" href={{ "/show-notes/" + episode.slug | url }}>
            {{ episode | fullTitle }}
        </a>
        <div class="image-to-the-side">
            <div class="thumbnail" style="background-image: url({{ episode.attachments[0].thumbnail.url }});"></div>
            <p class="published-at">{{ episode.publishedAt | shortDate }}</p>
            <p class="description">{{ episode.description }}</p>
        </div>
    </div>
{% endfor %}

<center>
    <div id="pagination-label">
        Jump to episode
    </div>
</center>
<div id="pagination-bar">
    <button class="slide-left">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-caret-left-fill"
            viewBox="0 0 16 16">
            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
        </svg>
    </button>
    <div id="pagination-container">
        <nav aria-label="episode pagination">
            {% for pageEntry in pagination.pages | reverse %}
                <a href="/{{ loop.revindex0 or '' }}" {% if loop.revindex0 == pagination.pageNumber %} aria-current="page" {% endif %}>{{ pageEntry[pageEntry.length-1].ep_num }}</a>
            {% endfor %}
        </nav>
    </div>
    <button class="slide-right">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-caret-right-fill"
            viewBox="0 0 16 16">
            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
        </svg>
    </button>
</div>