---
layout: app.njk
pagination:
    data: episodes
    size: 10
---

{% for episode in pagination.items %}
    <div class="episode-card">
        <a class="episode-title" href={{ "/show-notes/" + episode.slug | url }}>
            {{ episode | fullTitle }}
        </a>
        <div class="image-to-the-side">
            <div class="thumbnail" style="background-image: url({{ episode.attachments[0].thumbnail.url }});"></div>
            <p class="published-at">{{ episode.publishedAt | shortDate }}</p>
            <p class="description">{{ episode.description }}</p>
        </div>
    </div>
{% endfor %}

<nav id="page-buttons" aria-label="episode pagination">
    {% for pageEntry in pagination.pages %}
        <a href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page" {% endif %}>
            {{ loop.index }}
        </a>
    {% endfor %}
</nav>